@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.heading {
    font-family: 'Bebas Neue', serif;
    font-size: 4em;
}

/* Navbar */

body {
    background: #E3E6E6;
}

nav {
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
}

.nav {
    padding: 12px 20px;
    width: 85%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.list {
    display: flex;
    justify-content: space-between; /* Space between the two groups */
    align-items: center;
    gap: 24px;
}

.left-group, .right-group {
    display: flex; /* Use flexbox for alignment within the groups */
    gap: 10px; /* Add space between items in the groups */
}

.items {
    color: white;
    text-align: center;
}

.login-btn, .signup-btn, .items * {
    font-size: 16px;
    text-wrap: nowrap;
}

a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.items a::after {
    text-decoration: none;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    padding: 1px;
    bottom: -2px;
    border-radius: 10px;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.items a:hover::after {
    text-decoration: none;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.login-btn {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.4vw 1.4vw;
    cursor: pointer;
    background-color: transparent;
}

.signup-btn {
    cursor: pointer;
    background-color:  black;
    color: white;
    padding: 0.5vw 1vw;
    border: none;
    outline: none;
    border-radius: 10px;
}

/* Footer */

.footerbody * {
    color: white;
}

.footerbody {
    display:flex;
    justify-content: space-around;
    width: 100%;
    background-color:black;
    padding: 20px;
    flex-wrap: nowrap;
    margin-top: 2vw;
}

.footerbody a {
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.footerbody a:hover {
    color: rgb(190, 190, 190);
}

.footerbody li  {
    margin: 1vw;
    list-style: none;
}

.contactdetail img  {
    padding-top: 8%;
}

.bold {
    font-size: 17px;
    font-weight: bold;
}

.icon {
    border: 1px solid white;
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.icon:hover {
    background-color: rgba( 255, 255, 255, 0.15 );
}

.social-icons {
    font-size: 1.5vw;
    /* width: 10vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vw;
}

/* Form */

.form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form {
    width: 50%;
    margin: 15em 0;
}

#signup-form {
    margin: 10em 0;
}

.input-field {
    position: relative;
    width: 100%;
    margin: 1.2em auto;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translateY(-50%);
    font-size: 0.9vw;
    margin: 0 0.5em;
    pointer-events: none;
    transition: 0.4s;
}

.input-field label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: transparent;
    transition: 0.4s;
}

.input-field label::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background: transparent;
    opacity: 0;
    transition: 0.4s;
}

.input-field input {
    width: 100%;
    padding: 1em;
    outline: none;
    background: transparent;
    font-size: 0.8em;
    border: 1px solid #333;
    border-radius: 7px;
}

.input-field input:focus + label,
.input-field input:valid + label {
    top: 0;
    left: 10px;
    background-color: white;
    color: #555555;
    padding: 0 7px;
    font-size: 12px;
}

.form form input[type="submit"] {
    background-color: #1D4ED8;
    border: none;
    color: #fff;
    width: 100%;
    cursor: pointer;
    margin: 1.5em 0;
    padding: 0.7em 0;
    font-size: 1em;
    border-radius: 7px;
}