<div class="footerbody">
    <div class="contactdetail">
        <ul>
            <li>
                <p class="bold">Contact Details</p>
            </li>
            <li>
                <p>Indian Institute of Technology Jammu<br>
                    Jagti, NH-44 , PO Nagrota<br>
                    Jammu - 181 221 J&K, India.</p>
            </li>

            <li><a href="#">Welcome Contact</a></li>
        </ul>
    </div>
    <div class="usefullink">
        <ul>
            <li>
                <p class="bold">Useful Links</p>
            </li>
            <li><a href="#">Admission</a></li>
            <li><a href="#">Annual Report</a></li>
            <li><a href="#">MoUs</a></li>
            <li><a href="#">Staff Recruitment</a></li>
            <li><a href="#">Tender</a></li>
        </ul>
    </div>
    <div class="implink">
        <ul>
            <li>
                <p class="bold">Important Links</p>
            </li>
            <li><a href="#">CERT-IN Certificate</a></li>
            <li><a href="#">Copyright</a></li>
            <li><a href="#">Disclaimers</a></li>
            <li><a href="#">Giving Back</a></li>
            <li><a href="#">Institutes of Technology Act, 1961</a></li>
            <li><a href="#">Privacy</a></li>
        </ul>
    </div>
    <div class="sociallink">
        <li><p class="bold">Social Links</p></li>
        <div class="social-icons">
            <div class="icon"><i id="icon" class="fa-brands fa-x-twitter"></i></div>
            <div class="icon"><i id="icon" class="fa-brands fa-youtube"></i></div>
            <div class="icon"><i id="icon" class="fa-brands fa-facebook"></i></i></div>
            <div class="icon"><i id="icon" class="fa-brands fa-linkedin"></i></i></div>
        </div>
    </div>
</div>