<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <style>
        *{
    margin:0;
    padding:0;
    color: white;
    box-sizing: border-box;
}
.footerbody{
    display:flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color:black;
    padding: 20px;
    flex-wrap: nowrap;
}
.footerbody a{
    text-decoration: none;
    color:white;

}
.footerbody li{
   padding-top: 1vw;
    list-style: none;
}
.contactdetail img{
    padding-top: 8%;
}
.bold{
    font-size: 17px;
    font-weight: bold;
}

.sociallink  i{
    padding-top: 20px;
    font-size: 25px;
    width:30px;
    
}


    </style>
</head>
<body>
    
     <div class="footerbody">
       <div class="contactdetail">
        <ul>
            <li><p class="bold">Contact Details</p></li>
            <li><p>Indian Institute of Technology Jammu<br>
                Jagti, NH-44 , PO Nagrota<br>
                Jammu - 181 221 J&K,  India.</p></li>

                <li><a href="#">Welcome Contact</a></li>
        </ul>
        
        <img _ngcontent-c1="" alt="web counter" src="https://hitwebcounter.com/counter/counter.php?page=7888270&amp;style=0006&amp;nbdigits=8&amp;type=ip&amp;initCount=50000" title="Free Counter">

       </div>
       <div class="usefullink">
        <ul>
            <li><p class="bold">Useful Links</p></li>
            <li><a href="#">Admission</a></li>
            <li><a href="#">Annual Report</a></li>
            <li><a href="#">MoUs</a></li>
            <li><a href="#">Staff Recruitment</a></li>
            <li><a href="#">Tender</a></li>
        </ul>
       </div>
       <div class="implink">
        <ul>
            <li><p class="bold">Important Links</p></li>
            <li><a href="#">CERT-IN Certificate</a></li>
            <li><a href="#">Copyright</a></li>
            <li><a href="#">Disclaimers</a></li>
            <li><a href="#">Giving Back</a></li>
            <li><a href="#">Institutes of Technology Act, 1961</a></li>
            <li><a href="#">Privacy</a></li>
        </ul>
       </div>
       <div class="sociallink">
        <li><p class="bold">Social Links</p></li>
        <i  id="icon"class="fa-brands fa-x-twitter"></i>
        <i id="icon"class="fa-brands fa-youtube"></i> 
        <i id="icon"class="fa-brands fa-facebook"></i>
        <i id="icon"class="fa-brands fa-linkedin"></i>
       </div>
     </div>
   
    
</body>
</html>