<div class="form">
    <form id="login-form">
        <h3 class="heading">Login</h3>
        <div class="input-field">
            <input type="text" id="email" type="email" required>
            <label for="email">Email</label>
        </div>
        <div class="input-field">
            <input type="text" id="password" type="password" required>
            <label for="password">Password</label>
        </div>
        <input type="submit" value="Login">
    </form>
</div>