<nav>
    <div class="logo"></div>
    <div class="nav">
        <div class="list">
            <div class="items">
                <a href="#">Home</a>
            </div>
            <div class="items">
                <a href="#">Dashboard</a>
            </div>
            <div class="items">
                <a href="#">Facilities</a>
            </div>
            <div class="center">
                <div class="items">
                    <a href="#">Cancellation</a>
                </div>
                <div class="items">
                    <a href="#">Rules and FAQs</a>
                </div>
            </div>
    
            <% if (true) { %>
                <button class="login-btn">Log In</button>
                <button class="signup-btn">Sign Up</button>
            <% } else { %>
                
            <% } %>
    
        </div>
    </div>
</nav>