<div class="form">
    <form id="signup-form">
        <h3 class="heading">Sign up</h3>
        <div class="input-field">
            <input type="text" id="name" type="text" required>
            <label for="name">Name</label>
        </div>
        <div class="input-field">
            <input type="text" id="email" type="email" required>
            <label for="email">Email</label>
        </div>
        <div class="input-field">
            <input type="text" id="password" type="password" required>
            <label for="password">Password</label>
        </div>
        <div class="input-field">
            <input type="text" id="confirm-password" type="password" required>
            <label for="password">Confirm Password</label>
        </div>
        <input type="submit" value="Create Account">
    </form>
</div>