<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/styles/dashbord.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/views/styles/global.css">
    <link rel="stylesheet" href="/views/styles/index.css">
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
   <div class="maindiv">
        <div class="nameId">
            <div class="icon"><i class="fa-solid fa-user"></i></div>
            <p>"name"</p>
            <p>"userId"</p>
        </div>
        <div class="showupdate">
            <div class="colordiv">
                <h1 class="heading">YOUR STATUS</h1>
                <div class="showstatus">
                    <div class="showcount"><p>No Show Count</p><p>"count"</p></div>
                    <div class="montbook"><p>Booking This Month</p><p>"booking"</p></div>
                </div>
            </div>
        
            <div class="showbooking">
                <h1 class="heading">UPCOMING BOOKINGS</h1>
                <div class="showcards">
                    <div class="photo">"photo"</div>
                    <p>"name of facilities"</p>
                    <p>"time"</p>

                </div>
                <div class="showcards">
                    <div class="photo">"photo"</div>
                    <p>"name of facilities"</p>
                    
                    <p>"time"</p>

                </div>
                <div class="showcards">
                    <div class="photo">"photo"</div>
                    <p>"name of facilities"</p>
                    
                    <p>"time"</p>

                </div>
                <div class="showcards">
                    <div class="photo">"photo"</div>
                    <p>"name of facilities"</p>
                    
                    <p>"time"</p>

                </div>
                

            </div>
        </div>
   </div>



    <%- include("./partials/footer.ejs") %>
    
</body>
</html>