<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Complex - IIT Jammu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/views/styles/global.css">
    <link rel="stylesheet" href="/views/styles/index.css">
</head>

<body>
    <%- include("partials/navbar");%>

    <div class="hero">
        <img class="main_img" src="https://media-hosting.imagekit.io//51e521a7c2674fb8/DALL%C2%B7E%202025-01-13%2022.59.00%20-%20An%20artistic%20illustration%20of%20a%20sports%20council%20in%20IIT%20Jammu,%20featuring%20a%20modern%20sports%20complex%20surrounded%20by%20lush%20greenery.%20The%20complex%20includes%20facilit.webp?Expires=1831397898&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Ekq-DrLgUl2Cy8evD28fsId7oEzWyvUVf~beIAqoDRHTTszqk2S8z4f8SBwz2aQNk3yqtKslbM5GXgEmpziKLFKXlUpqPJh3Fd4GWvPa2iqJiyXFPhkxjt6RvtpenNoA~5zjpAhYFMd-wlJYUcDM~TSDNACIHaeLRCb~B7L9L2n8N5f3QgX0UWS69ugdcCzRLcdxhBYXtPw-r0uy69LfhzZBR~IvTuO4ahDme3c5OPEBD~HTvAp9OBVlbhHT5ZOyS4tjmtHshdclnpWAag9QEP9sJxQQoiZD7MYhN5c1eFhI6Txx62HMQf8S2OmfLksw2RAkstt9q2w80boI~DAjfA__">
    </div>
    <div class="tit">
        Sports Complex - IIT Jammu
    </div>

    <div class="welcome">
        <div class="word">
            Welcome
        </div>
        <div>
            At IIT Jammu, we truly believe that sports and physical activities are not only important but essential
            for a well-rounded and fulfilling student life. Engaging in sports offers a balance between academics
            and personal development, providing opportunities to grow physically, mentally, and emotionally. The
            Sports Council at IIT Jammu stands as the backbone of all sports and recreational activities, ensuring
            that every student has the opportunity to participate and thrive. We foster a spirit of teamwork,
            discipline, perseverance, and healthy competition, which are integral to the student experience at IIT
            Jammu. Whether you're a seasoned athlete looking to take your skills to the next level or someone just
            beginning their fitness journey, you'll find a wide range of opportunities to explore, improve, and
            excel in various sports. From traditional games to modern athletic events, the Sports Council provides
            facilities, training, and competitions to suit every student's interests.
            <br><br>
            The Council organizes a variety of sports events, ranging from inter-departmental tournaments to
            prestigious inter-IIT competitions, where students can showcase their talents and represent their
            institutes with pride. These events are designed not only to enhance physical performance but also to
            promote camaraderie, teamwork, and leadership. The passion for sports unites us, creating lasting
            friendships and experiences. Whether you enjoy playing team sports like football and basketball,
            individual sports like athletics and tennis, or indoor games like table tennis, there’s something for
            everyone. Through regular practice sessions and tournaments, we help students develop their skills while
            fostering a competitive spirit.
            <br><br>
        </div>
    </div>

    <%- include("partials/footer");%>

</body>
</html>