<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Complex - IIT Jammu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/views/styles/global.css">
    <link rel="stylesheet" href="/views/styles/pastevents.css">
</head>

<body>
    <%- include("partials/navbar");%>
    <div class="cards">
        <div class="eventCard">
           <div class="image"></div>
            <h4 id="middle">"cricket"</h4>
            <h4>Timing-"date & time"</h4>
            <h4>Venue-"footbollground"</h4>
            <h4>winner-"team1"</h4>
            <h4>1st RunnerUp-"team2"</h4>
            <h4>2nd runnerUP-"team3"</h4>
        </div>
        <div class="eventCard">
           <div class="image"></div>
            <h4 id="middle">"cricket"</h4>
            <h4>Timing-"date & time"</h4>
            <h4>Venue-"footbollground"</h4>
            <h4>winner-"team1"</h4>
            <h4>1st RunnerUp-"team2"</h4>
            <h4>2nd runnerUP-"team3"</h4>
        </div>
        <div class="eventCard">
           <div class="image"></div>
            <h4 id="middle">"cricket"</h4>
            <h4>Timing-"date & time"</h4>
            <h4>Venue-"footbollground"</h4>
            <h4>winner-"team1"</h4>
            <h4>1st RunnerUp-"team2"</h4>
            <h4>2nd runnerUP-"team3"</h4>
        </div>
        <div class="eventCard">
           <div class="image"></div>
            <h4 id="middle">"cricket"</h4>
            <h4>Timing-"date & time"</h4>
            <h4>Venue-"footbollground"</h4>
            <h4>winner-"team1"</h4>
            <h4>1st RunnerUp-"team2"</h4>
            <h4>2nd runnerUP-"team3"</h4>
        </div>
        <div class="eventCard">
           <div class="image"></div>
            <h4 id="middle">"cricket"</h4>
            <h4>Timing-"date & time"</h4>
            <h4>Venue-"footbollground"</h4>
            <h4>winner-"team1"</h4>
            <h4>1st RunnerUp-"team2"</h4>
            <h4>2nd runnerUP-"team3"</h4>
        </div>
        
    </div>
    


    <%- include("partials/footer");%>

</body>
</html>