<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules and Regulations</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/views/styles/global.css">
    <link rel="stylesheet" href="/views/styles/index.css">
</head>
<body>
    <%- include("partials/navbar");%>
    <div style="margin-bottom: 2vw;"></div>

    <div class="tit" style="position: relative;top:3vw;margin-bottom: 1vw;margin-top: 2vw;">
        Guidelines  for  Indoor  Sports Complex
    </div>
    <div class="welcome" style="position: relative;margin-top:5vw ;">
    The following guidelines are established to <b>ensure the safe, efficient, and respectful use of the
    Indoor Sports Complex.</b> These guidelines apply to all users, including students, faculty, staff,
    and visitors. Violations of these guidelines may result in <b>disciplinary action,</b> including suspension
    of access privileges
    </div>
    <hr>
    <div class="welcome">
    
        <div class="order">
            1. Gym Guidelines
        </div>
        <ul>
            <li>
                <div style="display: flex;gap:0.5vw;"> <div class="uorder">Access:</div> The gym is accessible only to registered users with valid ID cards.</div></li>
                <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Dress Code:</div> Appropriate gym attire and non-marking/gym/weightlifting gum sports
                    shoes are mandatory.</div></li>
                <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Time Limit:</div> During peak hours, limit the use of cardio machines to 30 minutes per user.</div></li>
                <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Personal Belongings:</div>Avoid bringing valuables <div class="uorder">Lockers are available and must be
                    used responsibly(not available from 16).</div> .</div></li>
                <li><div class="uorder">Conduct:</div> <ul style="position: relative;left: 5vw;"><li>No loud music or disruptive behavior</li>  <li>Respect fellow gym users and follow instructions from gym staff.</li></ul>
                <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Behavior:</div> Carry your own towel to maintain proper hygiene.</div></li>    
        </ul>
    
</div>

    
<div class="welcome">
    
        <div class="order">2. Indoor Games Area Guidelines (Chess, Carrom, etc.)

        </div>
        <ul>
            <li>
                <div style="display: flex;gap:0.5vw;"> <div class="uorder">Access:</div> Only registered users with valid ID cards are permitted.</div></li>
                
                <li><div class="uorder">Equipment Care:</div> <ul style="position: relative;left: 5vw;"> <li>Use the provided equipment responsibly.</li>  <li>Report any damages immediately to the staff.</li></ul></li>
                <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Time Limit:</div><div class="uorder">Sessions are limited to 45 minutes to 1 hour when others are waiting.</div>.</div></li>
                <li><div class="uorder">Cleanliness:</div> <ul style="position: relative;left: 5vw;"><li>Maintain cleanliness and dispose of waste properly.</li>  <li>No food or drinks are allowed in the gaming area.</li></ul>
                <li> <div class="uorder">Behavior:</div><ul style="position: relative;left: 5vw;"> <li>Respect your opponents and maintain decorum.</li>  <li>No shouting or loud conversations.</li></ul></div></li>    
        </ul>
    
</div>





<div class="welcome">
    
    <div class="order">
        3. Gym Guidelines
    </div>
    <ul>
        <li>
            <div style="display: flex;gap:0.5vw;"> <div class="uorder">Access:</div> Users must book slots in advance. Entry is allowed only with valid ID cards.</div></li>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Footwear:</div> Non-marking sports shoes are mandatory on the court.</div></li>
            <li><div class="uorder">Court Time:</div> <ul style="position: relative;left: 5vw;"><li>Sessions are limited to 45 minutes to 1 hour per booking</li>  <li>Leave the court promptly after your session ends.</li></ul>
            <li><div class="uorder">Behavior:</div> <ul style="position: relative;left: 5vw;"><li>Avoid disruptive behavior and maintain sportsmanship</li>  <li>Follow instructions from the court supervisor.</li></ul>
            
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Food and Drinks:</div> No food or drinks are allowed in the court area except water bottles,
                and that is allowed in the buffer area near the court.</div></li>    
    </ul>

</div>


<div class="welcome">
    
    <div class="order">
        4. Snooker Room Guidelines
    </div>
    <ul>
        <li>
            <div style="display: flex;gap:0.5vw;"> <div class="uorder">Access:</div> : Entry is allowed only for registered users with valid ID cards.</div></li>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Footwear:</div> Only sports shoes are mandatory on the court. No slippers or sandals.</div></li>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Dress Code:</div> Proper attire is required T-shirts and lower/shorts.</div></li>
            <li><div class="uorder">Equipment Care:</div> <ul style="position: relative;left: 5vw;"><li>Handle cues and balls with care</li>  <li>Do not sit on the snooker tables.</li></ul>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Time Limit:</div> Sessions are limited to 1 hour when others are waiting.</div></li>    
            <li><div class="uorder">Conduct:</div> <ul style="position: relative;left: 5vw;"><li>Maintain silence to ensure a focused environment</li>  <li>No food or drinks allowed.</li></ul>

        </ul>

</div>



<div class="welcome">
    
    <div class="order">
        5. Yoga and Meditation Hall Guidelines
    </div>
    <ul>
        <li>
            <div style="display: flex;gap:0.5vw;"> <div class="uorder">Access:</div>  Open during scheduled hours. Users must register for sessions.</div></li>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Footwear:</div> Remove footwear before entering the hall. No shoes are allowed inside the
                hall.</div></li>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Attire:</div> Proper attire is required T-shirts and lower/shorts.</div></li>
            <li><div class="uorder">Cleanliness:</div> <ul style="position: relative;left: 5vw;"><li>Use personal yoga mats.</li>  <li>Ensure the area is clean before leavings.</li></ul>
            <li><div class="uorder">Conduct:</div> <ul style="position: relative;left: 5vw;"><li>Maintain silence inside the hall.</li>  <li>Respect the instructor and fellow participants.</li></ul>

        </ul>

</div>


<div class="welcome">
    
    <div class="order">
        6. Table Tennis Hall Guidelines


    <ul>
        <li>
            <div style="display: flex;gap:0.5vw;"> <div class="uorder">Access:</div> Users must book slots in advance and carry valid ID cards.</div></li>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Footwear:</div> Non-marking sports shoes are mandatory..</div></li>
            <li><div class="uorder">Equipment:</div> <ul style="position: relative;left: 5vw;"><li>Users must bring their rackets and balls.</li>  <li>Handle tables and nets with care.</li></ul>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Time Limit:</div> : Sessions are limited to 1 hour per booking.</div></li>    
            <li><div class="uorder">Behavior:</div> <ul style="position: relative;left: 5vw;"><li>Maintain sportsmanship and follow the rules of the game</li>  <li>Avoid loud conversations and disruptive behavior.</li></ul>

        </ul>

</div>
</div>



<div class="welcome">
    
    <div class="order">
        General Rules for the Indoor Sports Complex
    </div>
    <ul>
        <li>
            <div style="display: flex;gap:0.5vw;"> <div class="uorder">Safety First:</div>  Report any injuries or equipment malfunctions immediately.</div></li>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Respect Timings:</div> The complex operates during designated hours. Users must adhere
            to their allotted slots.</div></li>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">No Smoking or Alcohol:</div>  Strictly prohibited within the complex.</div></li>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Personal Belongings:</div>   Users are responsible for their belongings. The management is
            not liable for any lost items.</div></li>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">Compliance:</div>  Users must comply with instructions from staff and adhere to all
            guidelines.</div></li>
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">No Speakers:</div>  No speakers are allowed inside the sports complex (Chinar); users can
            use their headphones/earbuds.</div></li>
            
            <li><div style="display: flex;gap:0.5vw;"> <div class="uorder">A changing room has been provided on the ground floor for a shoe change. Users
                can use those rooms to change their shoes</li>
        </ul>

</div>
<div class="welcome"><div class="order">
    By following these guidelines, users contribute to a safe and enjoyable environment for all.
Failure to adhere to these rules may result in suspension or permanent revocation of access to
the Indoor Sports Complex.
</div>
</div>

<div class="tit" style="position: relative;top:3vw;margin-bottom: 1vw;">
    Slot Booking Guidelines
</div>

<div class="welcome" style="position: relative;margin-top: 5vw;">
    The following guidelines outline the process for booking slots at the Indoor Sports Complex
(Chinar). These guidelines are designed to ensure fair access to the facility and smooth
management of user flow.
    </div>
    <hr>

    <div class="welcome">
        <div class="order">
            1. Slot Duration and Capacity Limits
        </div>
        <div class="uorder">
            1. Gym:
        </div>
        <ul style="position: relative;left: 5vw;"><li>Maintain sportsmanship and follow the rules of the game</li>  <li>Avoid loud conversations and disruptive behavior.</li></ul>
        
        <div class="uorder">
            2.Table Tennis
        </div>
        <ul style="position: relative;left: 5vw;"><li>Maintain sportsmanship and follow the rules of the game</li>  <li>Capacity: Maximum 2 individuals or 4 team players per table
            .</li></ul>



        <div class="uorder">
            3. Badminton Court:
        </div>
        <ul style="position: relative;left: 5vw;"><li>Maintain sportsmanship and follow the rules of the game</li>  <li>Avoid loud conversations and disruptive behavior.</li></ul>
        <div class="uorder">
            4. Snooker:
        </div>
        <ul style="position: relative;left: 5vw;"><li>Maintain sportsmanship and follow the rules of the game</li>  <li>Avoid loud conversations and disruptive behavior.</li></ul>

        <div class="uorder">
            5. Air Hockey:
        </div>
        <ul style="position: relative;left: 5vw;"><li>Maintain sportsmanship and follow the rules of the game</li>  <li>Avoid loud conversations and disruptive behavior.</li></ul>

        <div class="uorder">
            6. Pool Table:
        </div>
        <ul style="position: relative;left: 5vw;"><li>Maintain sportsmanship and follow the rules of the game</li>  <li>Avoid loud conversations and disruptive behavior.</li></ul>

        <div class="uorder">
            7. Foosball:

        </div>
        <ul style="position: relative;left: 5vw;"><li>Maintain sportsmanship and follow the rules of the game</li>  <li>Avoid loud conversations and disruptive behavior.</li></ul>

        <div class="uorder">
            8. Yoga and Meditation Hall:
        </div>
        <ul style="position: relative;left: 5vw;"><li>Maintain sportsmanship and follow the rules of the game</li>  <li>Capacity: Maximum 15 users per slot.</li></ul>

    
    </div>

    <div class="welcome">

        <div class="order">
            2. Slot Coupon Issuance Process
        </div>

        <ol>
            <li style="position: relative;left: 3vw;margin-bottom: 0.5vw;">
                Slot coupons will be available with the security guard at the entrance of the Indoor
Sports Complex.
            </li>
            <li style="position: relative;left: 3vw;margin-bottom: 0.5vw;">
                Coupons will be issued on a first-come, first-serve basis
            </li>
            <li style="position: relative;left: 3vw;margin-bottom: 0.5vw;">
                Users must present their ID card to get a slot coupon.
            </li>
            <li style="position: relative;left: 3vw;margin-bottom: 0.5vw;" class="uorder">
                Before issuing a coupon, the security guard will ensure that the user is carrying
indoor shoes and wearing them before entering any court.
            </li>
            <li style="position: relative;left: 3vw;margin-bottom: 0.5vw;">
                Users must return the slot coupon after their session ends
            </li>
        </ol>
    </div>

    <div class="welcome">
        <div class="order">
        3. Pink Slot Booking</div>
        
        The Pink Slot from div.uorder<b> 4:00 PM to 5:00</b> PM is a reserved time slot across all facilities. Priority for
        this slot will be given to users who have booked their slots in advance. Once the sports app is
        operational, bookings will be done through the app.
    </div>


    <div class="welcome">
       <div class="order"> 4. Special Slot Allocations</div>
       <ol>
       <li style="position: relative;left: 3vw;margin-bottom: 0.5vw;">
        For faculty and staff, the time slots from 6:00 to 7:30 in the morning and evening are reserved.
       </li>
       <li style="position: relative;left: 3vw;margin-bottom: 0.5vw;">
        During these reserved slots, faculty and staff will follow the same slot booking guidelines as mentioned above.
       </li>
       <li style="position: relative;left: 3vw;margin-bottom: 0.5vw;">
        Two courts of Badminton & two TT tables will be available for faculty & staff during this period. 
       </li></ol>
       


    </div>

<div class="welcome">
    <div class="order">5. Facility Booking for Events</div>
    For events and tournaments, specific courts/tables can be booked. The timing and booking details for such events will be communicated separately
</div>


<div class="welcome">
    <div class="order">
        6. Additional Guidelines
    </div>
    <ol>
        <li style="position: relative;left: 3vw;margin-bottom: 0.5vw;"><div class="uorder">If the court or hall is less crowded than its fixed capacity, any member of the IIT
            Jammu community can request a coupon from the security guard at the entrance
            and use the facility</div></li>

        <li style="position: relative;left: 3vw;margin-bottom: 0.5vw;">
            Users are required to follow all facility guidelines during their allocated slots.
        </li>
        <li style="position: relative;left: 3vw;margin-bottom: 0.5vw;">
            Misuse of slot booking privileges may result in a temporary or permanent ban from the facility.
        </li>
    </ol>
</div>

<div class="tit">
    Slot Booking Schedule
</div>

<div class="welcome">
    <div class="order"> Timings Overview</div>
    <ul>
        <li class="la">
            <b>Morning Slots:</b> 6:00 AM to 1:00 PM

        </li>
        <li class="la">
            <b>Evening Slots:</b> 3:00 PM to 12:00 AM
        </li>
        <li class="la">
        <b>Pink Slot:</b> 4:00 PM to 5:00 PM (reserved for women)

        </li>
        <li class="la"><b>
            Faculty & Staff Slots:</b> 6:00 AM to 7:30 AM and 6:00 PM to 7:30 PM
        </li>
        <li class="la"><b>
            Slot Duration:</b> Each slot will be 50 minutes, with a 10-minute buffer time between slots.

        </li>
    </ul>
    </div>

    <div class="welcome">
        <div class="order">Key Notes:</div>
        <ul>
            <li class="la">
            Slots are <b>  50 minutes</b> each with <b>10 minutes of buffer time</b> allocated for users to vacate the premises and for new users to enter.</li>
            <li class="la"><b> Pink Slot (4:00 PM to 5:00 PM)  </b>is specifically reserved for women</li>
            <li class="la"><b>Faculty & Staff slots </b> are fixed in the morning (6:00 AM to 7:30 AM) and evening (6:00
                PM to 7:30 PM) as per the guidelines</li>
            <li class="la">In case the facility is less crowded, coupons can be issued on a <b> first-come, first-serve
                basis </b> by the security guard at the entrance</li>
        </ul>
        
    </div>

</div>

<div class="welcome">
    This schedule applies to all indoor sports facilities including the<b> Gym, Badminton Courts,
Table Tennis Hall, Snooker Room, Air Hockey, Pool Table, Foosball, and Yoga &
Meditation Hall.</b>
</div>
    <%- include("partials/footer");%>
</body>
</html>